@import '../../../../assets/scss/admin';

.custom-modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: $modal-inner-padding;
}

.custom-form-label {
  margin-right: 5rem;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-input {
  // background: rgba(0, 0, 0, 0.2);
  color: $gray-800;
  // text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  display: block;
  width: 269px;
  height: 1rem;
  padding: 15px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  @extend .input-transition;
  @extend .rounded;
  &:focus {
    background: rgba(0, 0, 0, 0.1);
  }
}

.node-item {
  display: contents;
  margin: ($spacer/2) 0;
  align-items: center;
  font-size: $input-font-size-xs;
}