@import "../../../../assets/scss/admin";
@import "../../../../assets/scss/custom";


.Container {
  @extend .input-group;
  flex-direction: row;
  justify-content: space-between;
  .FormLabel {
    @extend .form-label;

    margin-right: $spacer;
  }
  .FormInput {
    background-color: inherit;
    font-size: $input-font-size-xs;
    border: none;
    @extend .standard-transition;
    &:focus, &:hover {
      background-color: $gray-900;
      color: lighten($off-white, 5);
      border: $light-blue;

    }
  }
}


