/** @format */

$enable-shadows: true;
$enable-gradients: true;
$enable-negative-margins: true;

@import '~bootstrap/scss/bootstrap';

$body-color: $gray-200;
$link-decoration: none;

$input-btn-padding-y-xs: $input-btn-padding-y-sm * (1/1.5) !default;
$input-btn-padding-x-xs: $input-btn-padding-y-sm * (1/1.5) !default;
$btn-padding-y-xs: $input-btn-padding-y-xs !default;
$btn-padding-x-xs: $input-btn-padding-x-xs !default;
$btn-font-size-xs: $font-size-base * 0.8125 !default;
$btn-border-radius-xs: 0.225 !default;
$input-padding-y-xs: $input-btn-padding-y-xs;
$input-padding-x-xs: $input-btn-padding-x-xs;
$input-font-size-xs: $btn-font-size-xs;
$input-border-radius-xs: $btn-border-radius-xs;

$orange-transparent: #fd7d1440;
.input-group-xs > .node-input,
.input-group-xs > .btn,
.input-group-xs > .btn-group > .btn {
	padding: $input-padding-y-xs $input-padding-x-xs;
	@include font-size($input-font-size-xs);
	@include border-radius($input-border-radius-xs);
}

@mixin switch($res: 'sm') {
	$index: 1rem;
	$mainVal: 1rem;

	@if $res == 'md' {
		$index: 2rem;
		$mainVal: 1.5rem;
	} @else if $res == 'lg' {
		$index: 3rem;
		$mainVal: 2rem;
	} @else if $res == 'xl' {
		$index: 4rem;
		$mainVal: 2.5rem;
	}

	margin-bottom: $index / 2; /* JUST FOR STYLING PURPOSE */

	.form-check-input {
		height: $mainVal;
		width: calc(#{$index} + 0.75rem);
		border-radius: $mainVal * 2;
	}
}

body {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
}

a {
	color: $gray-700;
	transition: all 0.3s;
}

a:hover {
	text-decoration: none;
	color: $orange;
	background: transparent;
}

span {
	display: inline-f;
}

ul {
	display: inline;
	flex-wrap: wrap;
	list-style: none;
}

#clock {
	cursor: default;
}

.P {
	width: 100%;
}

.app-wrapper {
	@extend .d-flex;
	@extend .align-items-stretch;
	height: 100vh;
}

.sidebar-container {
	min-width: 64px;
	max-width: 64px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	@include media-breakpoint-down(md) {
		margin-left: -64px;
	}
	.sidebar-link {
		@extend .rounded;
		@extend .rounded-3;
		font-size: $h3-font-size;
		padding: $spacer;
		color: $gray-200;
	}
}

.page {
	display: flex;
	flex-direction: column;
	width: 100%;
	&__header {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 64px;
		position: -webkit-sticky;
		position: sticky;
		z-index: $zindex-sticky;
		top: 0;
		background-color: $gray-400;
	}
	&__body {
		display: inline-flex;
		min-height: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
}

.menu-canvas {
	display: inline-flex;
	padding: $spacer;
	width: 100%;
}

.view {
	display: flex;
	flex-direction: column;
	padding: 0 $spacer;
	overflow-y: auto;
	min-height: 0;
	.__header {
		background: $gray-200;
		font-weight: $font-weight-bold;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		margin-left: map-get($map: $spacers, $key: 1);
		padding: 0 $spacer $spacer $spacer;
		min-height: 40px;
		position: sticky;
		top: 0;
		z-index: $zindex-sticky;
	}
	.__body {
		padding-left: $spacer;
		margin-bottom: 10px;
		list-style: none;
		font-weight: $font-weight-light;
	}
}

.table-view {
	width: 100%;
	@extend .view;
}

.side-view {
	width: 256px;
	@extend .view;
}

.tree {
	margin-bottom: 10px;
	list-style: none;
	margin-top: map-get($map: $spacers, $key: 4);
	margin-right: $spacer;
}

.branch {
	margin-bottom: map-get($map: $spacers, $key: 5);
}

.leaf {
	padding-left: map-get($map: $spacers, $key: 5);
}

.node {
	display: flex;
	margin: ($spacer/2) 0;
	align-items: baseline;
}

.node.child {
	margin-left: 2rem;
}

.node.branch {
	margin-top: 2rem;
}

.drag-handle {
	cursor: grab;
}

.drag-handle.dragging {
	cursor: grabbing;
}

// .node:not(:only-child) {
// 	&:not(:first-child) {
// 		@extend .input-group-sm;
// 		padding-left: map-get($map: $spacers, $key: 5);
// 	}
// }

.node > .branch {
	padding-left: map-get($map: $spacers, $key: 5) * 2;
}

.node-header {
	display: flex;
	margin: map-get($map: $spacers, $key: 3) 0;
	align-items: center;
}

.node-header:not(:only-child) {
	&:first-child {
		padding-top: map-get($map: $spacers, $key: 2);
		& i {
			font-size: $btn-font-size-sm;
		}
		& .node-input[type='text'] {
			font-size: $input-font-size-sm;
			padding-top: 0.25rem;
		}
	}
	&:not(:first-child) {
		@extend .input-group-xs;
		padding-left: map-get($map: $spacers, $key: 4);
	}
	& .node-input[type='text'] {
		font-size: $input-font-size-xs;
		padding-top: 0.25rem;
	}
}

.node > .branch {
	padding-left: map-get($map: $spacers, $key: 5) * 2;
}

.node-input[type='text'] {
	min-width: 0;
	flex-grow: 1;
	padding: 0 $spacer;
	border: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	background-color: $gray-300;
	font-size: $font-size-sm;
	padding-top: 0.3rem;
	&:focus {
		outline: none;
	}
}
// .node-input[type="text"] {
//   display: inline-block;
//   color: black;
//   padding: 0 $spacer;
//   width: 250px;
//   box-sizing: border-box;
//   background-color: rgba(0, 0, 0, 0.25);
//   border: none;
//   border-radius: 2px;
//   margin: 10px auto;
//   transition: background-color 0.5s ease;
//   -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
//   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
// }
.price-button {
	@extend .btn;
	@extend .btn-sm;
	background-color: $gray-200;
	margin-bottom: -5px;
	font-size: smaller;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	backdrop-filter: blur(100px);
	transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 200ms;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: $zindex-modal-backdrop;
	& .modal-wrapper {
		box-shadow: $modal-content-box-shadow-sm-up;
		border-radius: 2px;
		transform: translateY(100px);
		transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
		opacity: 0;
	}
	&.active {
		transition-duration: 250ms;
		transition-delay: 0ms;
		opacity: 1;
		background: rgba($color: #000000, $alpha: 0.8);
		& .modal-wrapper {
			transform: translateY(0);
			opacity: 1;
			border-color: $modal-content-border-color;
			transition-delay: 150ms;
			transition-duration: 350ms;
		}
	}
}

.trans {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.rounded {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.form-input {
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
	display: block;
	width: 269px;
	height: 1rem;
	padding: 15px;
	margin-bottom: 10px;
	outline: none;
	@extend .trans;
	@extend .rounded;
	&:focus {
		background: rgba(0, 0, 0, 0.1);
	}
}

.form-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form-switch.form-switch-sm {
	@include switch();
}
