/** @format */
@import '../../../assets/scss/admin';

.List {
  display: block;
  box-sizing: border-box;
  min-width: 350px;
  padding: 20px 0 20px 20px;
  border-radius: 5px;
  transition: background-color 350ms ease;
  margin-right: $spacer;
}
