/** @format */

@import '../../../../assets/scss/admin';

ul {
  display: inline;
  flex-wrap: wrap;
  list-style: none;
}

.input-transition {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300s ease;
  -o-transition: all 300s ease;
  transition: all 300s ease;
}

.NodeWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 1;
}

.Node {
  display: contents;
  flex-direction: column;
  margin: ($spacer/2) 0;
  align-items: center;
  font-size: $input-font-size-xs;
  &.NodeNew {
    color: $gray-400;
    font-style: italic;
  }
}

.NodeInput {
  flex-grow: 1;
  @extend .input-transition;
  font-size: $input-font-size-xs;
  outline: none;
  border: none;
  width: 100%;
  &:focus-within {
    background-color: $gray-900;
    border: rgba(10, 10, 10, 0.946);
  }

}

.PriceInput {
  border: none;
  appearance: none;
  width: 8ch;
  display: flex;
  align-items: flex-end;
}
