@import '../../../../assets/scss/admin';

.Container {
  background-color: transparent;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  margin: $spacer 0;
}

.SubSection {
  @extend .shadow;
  background-color: transparent;
}