/** @format */
@import '../../assets/scss/admin.scss';

.Sections {
  display: flex;
  background-color: $gray-100;
  margin-left: 1rem;
  flex-direction: column;
  padding: ($spacer*2) $spacer 0 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.MenuTitle {
  color: $dark;
}

.MenuDescription {
  font-style: italic;
  margin-bottom: $spacer;
}

.BlankList {
}


