@import '../../assets/scss/admin';
@import '../../assets/scss/custom';


.Tabs {
  cursor: pointer;
  .TabList {
    border-bottom: none;
    padding-left: 0;
  }
  .Tab {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    transition: all 0.3s ease-in;

    &.Active {
      background-color: $red;
      border: solid $light-blue;
      border-width: 1px 1px 0 1px;
    }
  }

}
