@import '../../assets/scss/admin.scss';


.Handle {
  height: 3rem;
}
.Menu {
  margin: $spacer;
  padding: $spacer;
  border: 1px solid #ccc;
  border-bottom: 2px solid #bbb;
  border-top: 1px solid #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.MenuTitle {
  color: $dark;
}

.MenuDescription {
  font-style: italic;

}