/** @format */

@import '../../../assets/scss/admin';

.Handle {
  flex-grow: 1;
  cursor: var(--cursor, grab);
  font-size: medium;
  svg {
    flex: 0 0 auto;
    margin: auto;
    overflow: visible;
    fill: #919eab;
  }

  &:focus {
    outline: none;
    border-radius: 0.5px;
    //box-shadow: 0 0 0 2px #fff, 0 0 3px 4px $focused-outline-color;
  }
}
