/** @format */

@import '../../assets/scss/admin';

.Menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
	.MenuContent {
		padding-left: $spacer;
		background-color: $gray-100;
		font-weight: $font-weight-light;
		margin: 0 map-get($map: $spacers, $key: 5) 0 map-get($map: $spacers, $key: 5);
	}
}
